
$base-color: #f6f6f6;
$active-cursor: pointer;
$pagination-color: lightblue;

.header-class {
    background: $base-color;
    position: sticky;
    top: 0;
}

th { /* Chrome hack */
    background: $base-color;
    position: sticky;
    top: 0;
}

.noSelectText {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pageItemCl{
    padding: 10px 15px 10px 15px;
    background: $base-color;
    border: 1px dashed #cccccc;
    margin: 3px;
}

.server-pagination {
    display: inline-block;
	margin-bottom: 30px;
}

.server-pagination-item {
    display: inline-block;
    @extend .pageItemCl;
    @extend .noSelectText;
}
.server-pagination-item:hover {
    cursor: $active-cursor;
}
.server-pagination-item-active {
    cursor: $active-cursor;
    display: inline-block;
    @extend .pageItemCl;
    background: $pagination-color;
}

.server-nav-item {
    @extend .noSelectText;
	@extend .pageItemCl;
    cursor: $active-cursor;
    right: 0;
    width: 100px;
    text-align: center;
    float: right;
    margin: 0 10px 0 20px;
    padding: 0 0 5px 0;
    font-size: 1.2em;
	background: #f4f4f4;
}

.pagination-showing-page {
    padding: 10px 10px 30px 10px;
}

.page-item {
    @extend .pageItemCl;
}

th:focus{
    outline: none;
}

.header-class:focus {
    outline: none;
}
